.u-section-1 {
    background-image: url("https://i.ibb.co/3WPTrg4/background.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 755px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 1.125rem;
    text-align: left;
    margin: 0 auto;
}

.u-section-1 .u-custom-html-1 {
    height: auto;
    min-height: 26px;
    margin: 16px 455px 0 500px;
}

.u-section-1 .u-text-3 {
    font-weight: 700;
    text-align: left;
    margin: -25px auto 0 360px;
}

.u-section-1 .u-custom-html-2 {
    height: auto;
    min-height: 26px;
    margin: 16px 455px 0 500px;
}

.u-section-1 .u-text-4 {
    font-weight: 700;
    text-align: left;
    margin: -26px auto 0 401px;
}

.u-section-1 .u-custom-html-3 {
    min-height: 31px;
    height: auto;
    margin: 17px 388px 0 500px;
}

.u-section-1 .u-text-5 {
    font-weight: 700;
    margin: -28px auto 0 400px;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 19px 455px 60px auto;
    padding: 4px 39px 5px 38px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 623px;
    }

    .u-section-1 .u-custom-html-1 {
        margin-left: 400px;
        margin-right: 355px;
        width: 185px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 296px;
    }

    .u-section-1 .u-custom-html-2 {
        margin-left: 400px;
        margin-right: 355px;
        width: 185px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 330px;
    }

    .u-section-1 .u-custom-html-3 {
        margin-right: 288px;
        margin-left: 400px;
        width: 252px;
    }

    .u-section-1 .u-text-5 {
        margin-left: 329px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 255px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 477px;
    }

    .u-section-1 .u-custom-html-1 {
        margin-left: 290px;
        margin-right: 245px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 227px;
    }

    .u-section-1 .u-custom-html-2 {
        margin-left: 290px;
        margin-right: 245px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 253px;
    }

    .u-section-1 .u-custom-html-3 {
        margin-right: 178px;
        margin-left: 290px;
    }

    .u-section-1 .u-text-5 {
        margin-left: 252px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 35px;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        background-position: 37.37% 100%;
        background-size: auto 130%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 358px;
    }

    .u-section-1 .u-custom-html-1 {
        margin-left: 200px;
        margin-right: 155px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 170px;
    }

    .u-section-1 .u-custom-html-2 {
        margin-left: 200px;
        margin-right: 155px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 190px;
    }

    .u-section-1 .u-custom-html-3 {
        margin-right: 88px;
        margin-left: 200px;
    }

    .u-section-1 .u-text-5 {
        margin-left: 189px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 225px;
    }

    .u-section-1 .u-custom-html-1 {
        margin-top: 36px;
        margin-right: 55px;
        margin-left: 100px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 107px;
    }

    .u-section-1 .u-custom-html-2 {
        margin-top: 68px;
        margin-left: 100px;
        margin-right: 55px;
    }

    .u-section-1 .u-text-4 {
        margin-top: -64px;
        margin-left: 120px;
    }

    .u-section-1 .u-custom-html-3 {
        margin-top: 3px;
        margin-left: 88px;
        margin-right: 0;
    }

    .u-section-1 .u-text-5 {
        margin-top: 18px;
        margin-left: 119px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: -27px;
        margin-bottom: 0;
    }
}